<html>
<head>
	<title>Trần Thanh Tài's Blog</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<script src="jquery-3.1.0.min.js"></script>
	<script src="bootstrap.min.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<style type="text/css">

		.post{
			border-bottom: 1px solid #E6E6FA;
		}
		.title{
			margin-top: 80px;
			margin-bottom: 40px;
		}
		.content{
			margin-bottom: 30px;
		}

	</style>
</head>
<body>
			<!-- navbar -->
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					     </button>
						<a class="navbar-brand" href="">Me</a>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Lập trình</a></li>
							<li><a href="#">Tào Lao</a></li>
							<li><a href="#">Nhật Ký</a></li>
						</ul>	
					</div>
					
				</div>
			</nav>
		<!-- content -->
		<div class="container-fluid">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8 post">
				<h2 class="text-center	title">Tiều Đề Bài Viết Tại Đây</h2>
				<p class="content">Nội Dung Nội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội DungNội Dung
				</p>
				<p>Tác giả: <a href="">Trần Thanh Tài</a></p>

		</div>
		<div class="col-sm-2"></div>
		</div>
		<!-- end content -->


</body>
</html>